*{
    background-color: rgb(255, 21, 130);
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
}

body {
    margin-top: 60px;
}

p {
    text-align: center;
    font-size: 1.8em;
}

#currentDate {
    color: rgb(49, 49, 49);
}

#motherDay {
    color: rgb(255, 255, 255);
    font-size: 4em;
}

#motherMonth {
    color: rgb(255, 255, 255);
    font-size: 4em;
}

#motherYear {
    color: rgb(255, 255, 255);
    font-size: 4em;
}

#motherHour {
    color: rgb(255, 255, 255);
    font-size: 4em;
}

#motherMinute {
    color: rgb(255, 255, 255);
    font-size: 4em;
}

#motherSecond {
    color: rgb(255, 255, 255);
    font-size: 4em;
}

button {
    font-size: 1.1em;
    border-radius: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 35px;
    padding-left: 35px;
    border-color: white;
    margin-top: 40px;
    margin-bottom: 50px;
}

#activity-selector {
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

#activity {
    margin-top: 30px;
    background-color: white;
    color: #17202A;
    border-radius: 30px;
    padding: 10px 40px;
    width: fit-content;
}

.column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #today {
    margin-top: 90px;
  }

  #timeTable {
    margin-top: 50px;  
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
  }
